 .art{
    box-shadow: 10px 10px 10px 10px rgb(77, 255, 0);
    opacity: 0.5;
    text-align: center;
}












.ar{
    text-align: center;
    text-shadow: 1px 1px red;
}









.a{
    text-align: center;
}